{% extends "base.html" %}


{% block title %} weeknotes for {{facet_type}} {{facet_ui_name|deslugify|capitalize}}{% endblock %}

{% block main %}
{% set facet = True %}
<section class="vertical-spacing-top">
  <div class="grid-container">
    <div class="column-full-width">
      <div class="inner">
        <h1 class="vertical-spacing-bottom">{{facet_type|capitalize}} : {{facet_ui_name|deslugify|capitalize}}</h1>
      </div>
    </div>
  </div>
</section>

{% include "fragments/list.html" %}

{% endblock %}